
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #111;
    color: #AAA;
    font-size: 12px;
}

#divTabuleiro, #divBotaoSortearNumero, #divMensagem, #divHistorico {
    border: 1px solid #999;
    border-radius: 5px;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
#divBotaoSortearNumero{
    margin: 10px auto;
}
#divMensagem{
    border: none;
}
#btnSortearNumero {
    padding: 10px;
    border-radius: 5px;
}
.numeroNaoSorteado {
    display: inline-block;
    border: 1px solid #555;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 15px;
    text-align: center;
    transition: 2s;
}
.numeroSorteado {
    color: black;
    background-color: #aaa;
}
.divOrdemNumeroSorteado{
    display: inline-block;
    border: 1px solid #333;
    padding: 2px;
    margin: 2px;
}
.destaque{
    opacity: 0;
    position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%);
    font-size: 1em; color: white; width: 60%; text-align: center;
    padding: 10px; padding-inline: 30px;
    border: 1px solid yellowgreen;
    border-radius: 15px;
    box-shadow: 0px 0px 15px yellowgreen;
    z-index: -1;
    transition: 250ms;
}
.destacar{
    opacity: 1;
    font-size: 6em;
    z-index: 1;
    transition: 250ms;
}