
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #111;
    color: #ccc;
    font-size: 12px;
}
body{
    margin: 0px;
    background-image: url(fundo.png);
    background-size: 100%;
    opacity: 0.7;
}
#divTabuleiro, #divBotaoSortearNumero, #divMensagem, #divHistorico, #divCopyRight {
    border: 1px solid #999;
    border-radius: 5px;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
#divBotaoSortearNumero{
    margin: 10px auto;
}
#divMensagem, #divCopyRight{
    border: none;
}
#divCopyRight{
    color: #555;
}
#btnSortearNumero {
    padding: 10px;
    border-radius: 5px;
}
.numeroDoTabuleiro {
    display: inline-block;
    border: 1px solid #555;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    width: 15px;
    text-align: center;
    transition: 2s;
}
.marcarSorteado {
    color: black;
    font-weight: bold;
    background-color: #fff;
}
.divHistoricoDeNumeros{
    display: inline-block;
    border: 1px solid #444;
    padding: 2px;
    margin: 2px;
    border-radius: 50%;
}
.divDestaque{
    opacity: 0;
}
.sorteado{
    border: 1px solid black;
    position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%);
    padding: 10px; padding-inline: 30px;
    color: white; width: 60%; text-align: center;
    animation-name: destacar;
    animation-duration: 5s;
}

@keyframes destacar {
    0% {
        border-color: black;
        font-size: 1em; 
        border-radius: 15px;
        box-shadow: 0px 0px 15px black;
        opacity: 0;
        font-size: 0.1em;
        z-index: -1;
    }
    10% {
        border-color:  yellowgreen;
        font-size: 1em; 
        border-radius: 15px;
        box-shadow: 0px 0px 15px yellowgreen;
        opacity: 1;
        font-size: 6em;
        z-index: 0;
    }
    40% {
        border-color:  yellow;
        font-size: 1em; 
        border-radius: 15px;
        box-shadow: 0px 0px 15px yellow;
        opacity: 1;
        font-size: 6em;
        z-index: 0;
    }
    80% {
        border-color:  gray;
        font-size: 0.1em; 
        border-radius: 15px;
        box-shadow: 0px 0px 15px gray;
        opacity: 0;
        font-size: 1em;
        z-index: -1;
    }
    100% {
        opacity: 0;
        z-index: -1;
        font-size: 0.1em;
    }

  }
  