
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #111;
    font-size: 12px;
}
body{
    margin: 0px;
    /* background-color: antiquewhite; */
    background-image: url(fundo.png);
    background-size: 100%;
    opacity: 1;
}
legend{
    font-size: 120%;
}
#filTabuleiro, #filHistorico, #divBotaoSortearNumero, #divMensagem, #divHistorico, #divCopyRight {
    border: 1px solid #999;
    border-radius: 5px;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
#divHistorico{
    border: none;
    width: 100%;
}
#divMensagem{
    color: #000;
    text-align: center;
    text-decoration: overline;
}
#filTabuleiro, #filHistorico{
    border:3px solid #000;
}
#divBotaoSortearNumero{
    margin: 10px auto;
}
#divMensagem, #divCopyRight{
    border: none;
}
#divCopyRight{
    color: #333;
    text-align: center;
}
#btnSortearNumero {
    display: flex;
    background-color: #111;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 5px auto;
}
.numeroDoTabuleiro {
    color: #fff;
    background-color: #111;
    display: inline-block;
    border: 1px solid #000;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    width: 15px;
    text-align: center;
}
.marcarSorteado {
    color: black;
    font-weight: bold;
    background-color: #fff;
    transition: 1s;
}
.divHistoricoDeNumeros{
    display: inline-flex;
    padding: 2px;
    border: 1px solid #000;
    background-color: #fff;
    padding: 5px;
    margin: 2px;
    border-radius: 50%;
}
.divDestaque{
    opacity: 0;
}
.sorteado{
    display: absolute; transform: scale(1);
    border-radius: 50%;
    color: white;
    background-color: #000;
    text-align: center;
    box-shadow: 0px 0px 5px yellow;
    animation-name: destacar;
    animation-duration: 5s;
}
@keyframes destacar {
    20%, 60% {
        transform: scale(5);
        display: inline-block;
    }
    100% {
        box-shadow: 0px 0px 0px yellow;
    }
  }
  